
OP_ITEM_UUID="encv1://EB2QWHNBI4UMQGOW4M7I5H2LWD6GBT7WWKQ74F2AD2FDHVI4QYFCDEVPKLHFO65OSBBO2MDOM5SOEYK73NMTKJVVL75H4PZWTIK5OL7MFP565PUA2Q7QHG4DJM7TUW5HB2I63BTLV4"

eval "$(op-direnv --item "${OP_ITEM_UUID}")"
